@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/fonts/Mavenproregular.woff') format('woff'),
        url('./assets/fonts/Mavenproregular.woff2') format('woff2');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('./assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('./assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('./assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('./assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Maven Pro', 'Arial', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 1024px;
}

.header {
  width: 100%;
  text-align: center;
}

.info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.photo-menu-wrapper {
  display: flex;
  width: 270px;
  flex-direction: column;
  background-color: #cccc;
}

.h-line {
  position: relative;
  top: 20px;
  width: 270px;
  height: 1px;
  background-color: rgb(122, 110, 109);
}

.v-line {
  position: relative;
  left: 19px;
  width: 1px;
  height: 180px;
  background-color: rgb(122, 110, 109);
}

.dev-photo {
  position: relative;
  bottom: 180px;
  margin: 45px 0 0 45px;
  width: 180px;
  height: 180px;
  background-image: url('./assets/photo_2019-03-02_18-22-10.jpg');
  background-size: 150%;
  background-position: center 20%;
}

.menu {
  position: relative;
  bottom: 160px;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0 0 0 45px;
}

.menu-item, .menu-item > a {
  list-style: none;
  text-decoration: none;
  color: #000;
  padding: 20px 0 0 0;
  font-weight: bold;
}

.menu-item > a:hover {
  color: green;
}

.data-wrapper {
  display: flex;
  width: 754px;
  flex-direction: column;
  background-color: #aaaa;
}
.contacts,
.summary,
.skills,
.code-examples,
.experience,
.education,
.english {
  box-sizing: border-box;
  padding: 0 10px;
}

p {
  text-align: justify;
}

.name-surname {
  text-align: center;
}

.contacts {
  text-align: center;
} 

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0 20px;
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-github:before {
  content: "\f09b";
}
